#footer {
  position: relative;
  padding: 1.5em 6em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #7D8889;
  font-family: monospace;
}
#licencias {
  position: absolute;
  right: 1.7em;
  bottom: 1.5em;
}
#correos h4 {
  margin-bottom: 0.5em;
  font-size: calc(0.3em + 1vw);
}
#correos a {font-size: calc(0.5px + 0.5vw);}
#menu-footer ul {
  list-style: none;
}

#menu-footer a {
  text-decoration: none;
  color: black;
  font-size: calc(0.5px + 0.5vw);

}
