#footer {
  position: relative;
  padding: 1em 6em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #7D8889;
  font-family: monospace;
}
#licencias {
  position: absolute;
  right: 1.7em;
  bottom: 1.5em;
}
#correos h4 {
  margin-bottom: 0.5em;
}
#menu-footer ul {
  list-style: none;
}
#menu-footer a {
  text-decoration: none;
  color: black;

}
