
#portada {
  text-align: center;
}
#portada h1 {
  padding: 0.5em;
}
#portada-img img {
  height: 20em;
  max-width: 100%;
  width: 100%;
}
#resumen {
  border: 2px solid black;
  margin: 2em 5em;
  text-align: justify;
}
#fotos {
  position: relative;
  padding: 2em 5em;
}
#fotos img {
  max-width: 100%;
  width: 100%;
}
#fotos h2 {
  top: 2em;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 10%);
}
#diagram {
  border: 10px solid white;
  margin-bottom: 0.8em;
}
#fotos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr
}
#fotos-grid div {

}
#router1 {
  padding-right: 0.5em;
}
#router2 {
  padding-left: 0.5em;
}
.relativo {position: relative;}
.routers-nombre{
  position: absolute;
  top: 1em;
  left: 50%;
  transform: translate(-50%, 10%);
}
