#Manual {
  margin: 2em 3em;
}
#Manual h1 {
  margin: 1em;
  text-align: center;
}

#manual-usuario h2 {
  padding: 1em 0 0.5em 0;
}
dd {
  padding-left: 1em;
}
code {
  max-width: 100%;
  width: 100%;
  background-color: black;
  color: white;
}
code p {
  margin-top: 0.5em;
  background-color: black;
}
#necesario {
  padding-left: 2em;
}
