#Manual {
  position: relative;
  margin: 2em 3em;
  padding: 1em;
  background-color: #b1b3b2;
}
#logo-man {
  position: absolute;
  right: 2em;
  top: 2em;
  width: 3%;
}

#Manual h1 {
  margin: 1em;
  text-align: center;
}

#manual-usuario h2 {
  padding: 1em 0 0.5em 0;
}
dd {
  padding-left: 1em;
}
code span {
  color: white;
  background-color: black;
}
code p {
  color: white;
  margin: 0.5em 0;
  background-color: black;
  padding: 0.5em 0;
}
#necesario {
  padding-left: 2em;
}
.ataques {
  padding-left: 1em;
}
#tiempos {
  max-width: 100%;
  width: 45%;
}
.img-NMAP {
  max-width: 100%;
  width: 45%;
}
.img-ataques {
  max-width: 100%;
  width: 30%;
}

@media (max-width: 1080px) {
.img-ataques{
  max-width: 100%;
    width: 50%;
}
.img-NMAP {
  max-width: 100%;
  width: 70%;
}
}
