*{
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: arial;
  background-color: #C2CBCB;
}
.relativo {position: relative;}
.titulo-h2 {font-size: calc(0.4em + 1vw);}
.titulo-h3 {font-size: calc(0.2em + 1vw);}
menu{
  padding: 0;
}
#menu {position: relative;}
.logo {
  width:3em;
  position:absolute;
  left:1em;
  top:1em;
}
#menu ul {
  list-style-type: none;
  background-color: #7D8889;
  padding: 0;
  text-align: center;
  padding: 2em 4em;
}
#menu li {
  padding: 0 15px;
  display: inline-block;
}
#menu a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}
