#documentacion {
  position: relative;
  margin: 2em 3em;
  padding: 1em;
  background-color: #b1b3b2;
}

#documentacion h1 {
  margin: 1em;
  text-align: center;
}
#logo-man {
  position: absolute;
  right: 2em;
  top: 2em;
  width: 3%;
}

#documento h2 {
  padding: 1em 0 0.5em 0;
}

dd {
  padding-left: 1em;
}

code span {
  color: white;
  background-color: black;
}
code p {
  color: white;
  margin: 0.5em 0;
  background-color: black;
  padding: 0.5em 0;
}
