*{
  margin: 0;
  box-sizing: border-box;
}
menu{
  padding: 0;
}
#menu ul {
  list-style-type: none;
  background-color: grey;
  padding: 0;
  text-align: center;
}
#menu li {
  padding: 10px 15px;
  display: inline-block;
}
#menu a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}


#resumen {
  border: 2px solid black;
  margin: 2em 5em;
  text-align: justify;
}
