*{
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #C2CBCB;
  position: relative;
}
menu{
  padding: 0;
}
#menu {position: relative;}
.logo {
  width:3em;
  position:absolute;
  left:1em;
  top:1em;
}
#menu ul {
  list-style-type: none;
  background-color: #7D8889;
  padding: 0;
  text-align: center;
  padding: 2em 4em;
}
#menu li {
  padding: 0 15px;
  display: inline-block;
}
#menu a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}
#NMAP-form {
  position: relative;
  padding-bottom: 6em;
}
.loader,
.loader:before,
.loader:after {
  background: #FFF;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
}
.loader {
  text-indent: -9999em;
  margin: 1em auto;
  position: absolute;
  font-size: 11px;
  -webkit-animation-delay: 0.16s;
  animation-delay: 0.16s;
  left: 50%;
  transform: translate(-50%, 10%);
  bottom:-0.5em;
}
.loader:after {
  left: 1.5em;
  -webkit-animation-delay: 0.32s;
  animation-delay: 0.32s;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #FFF;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #FFF;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}

#ataques {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em 2em;
}
.ataques {
  color: gold;
  position: relative;
  background-color: #7D8889;
  border: 0.2em solid;
  border-image: radial-gradient(rgb(0,143,104), rgb(250,224,66)) 1;
  margin: 0.5em;
  padding: 1em;

}
.ataques::after {
  content: "";
  clear: both;
  display: table;
}
.ataques p {
  padding-top: 0.5em;
  padding-bottom: 3em;
}
.ataques form{
  margin-left: -1em;
  width: 100%;
  position: absolute;
  bottom: 0.5em;
}
.boton {
  padding-top: 0.5em;
  text-align: center;
}

#footer {
  position: relative;
  padding: 1em 6em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #7D8889;
  font-family: monospace;
}
#licencias {
  position: absolute;
  right: 1.7em;
  bottom: 1.5em;
}
#correos h4 {
  margin-bottom: 0.5em;
}
#menu-footer ul {
  list-style: none;
}
#menu-footer a {
  text-decoration: none;
  color: black;

}
.formularios {
  position: relative;
  background-color: #C2CBCB;
  background-image: url(img/fondo-formulario.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
  width: 100%;
  top: 0;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  color: aliceblue;
  font-family: monospace;
}
.formularios p {
  padding: 0.5em;
  font-size: calc(10px + 0.1vw)
}
form > input {
  padding: 10px;
}
form > button {
  padding: 10px;
  margin: 0.5em;
}
#INFO-NMAP {
  z-index: 3;
  position: absolute;
  left: 0;
  top: 0;
  width: 35%;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
}


/* .hidden {visibility: hidden;} */
